
.thankyou_container {
    width:600px;
    text-align:center;
    padding-top:100px;
}
.btn {
    font-family: inherit;
    padding:15px;
    outline:none;
    border:1px solid #eee;
    border-radius:15px;
    font-size:14px;
    font-weight:600;
    margin:auto;
    margin-top: 40px;
    background-color: #1d1d1d;
    color:#fff;
    font-weight:700;
    width:400px;
    display:block;
    text-align:center;
}

.form_title {
    font-weight:700;
    font-size:24px;
    margin-bottom: 14px;
}
.form_subtitle {
    font-weight:700;
    font-size:18px;
    margin-top: 14px;
}